@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-gray-100;
  }
  h1 {
    @apply text-title-h1 font-title-h1;
  }
  h2 {
    @apply text-title-h2 font-title-h2;
  }
  h3 {
    @apply text-title-h3 font-title-h3;
  }
  h4 {
    @apply text-title-h4 font-title-h4;
  }
  h5 {
    @apply text-title-h5 font-title-h5;
  }
  h6 {
    @apply text-title-h6 font-title-h6;
  }

  input,
  textarea,
  select,
  button {
    @apply bg-none border-none outline-none;
  }
}

@layer component {
  .screen {
    @apply max-w-[1400px] 2xl:max-w-[1500px] mx-auto lg:p-5;
  }

  .btn {
    @apply rounded-md py-1.5 px-2.5;
  }
  button.btn {
    @apply py-1.5 px-2.5 !important;
  }
  .cta-card {
    @apply text-white p-4 pr-8;
  }

  .hero-main {
    @apply relative overflow-hidden;

    img {
      @apply absolute inset-0 w-full object-cover;
      @apply h-full  !important;
    }

    .content {
      @apply relative z-20;
    }
  }

  .caliph {
    @apply grid md:grid-cols-9 lg:grid-cols-12 gap-0.5 my-2.5 lg:mt-8 lg:mb-5;

    .head {
      @apply p-5 md:col-span-2 lg:col-span-3 flex justify-between items-center md:block;
    }

    .content {
      @apply w-2/3;
    }

    main {
      @apply md:col-span-7 lg:col-span-9;
    }
  }

  .range-slider {
    @apply px-4;
    .double-range-slider-container {
      @apply relative w-full;
    }

    .double-range-slider-rail {
      @apply bg-gray-300 w-full h-2 absolute top-[26px] rounded-full;
    }

    .double-range-slider-track {
      @apply bg-blue h-2 absolute top-[26px] rounded-full;
    }

    .double-range-slider-ball {
      @apply bg-blue w-5 h-5 rounded-full cursor-pointer absolute top-5;

      p {
        @apply absolute top-5;
      }
    }

    .double-range-slider-active {
      @apply z-10;
    }

    .double-range-slider-max p {
      @apply right-0;
    }
  }

  .box {
    @apply bg-white shadow-input shadow-gray-500 rounded-md p-5;
  }

  .product-main {
    @apply flex items-start gap-5 relative;

    .content {
      @apply w-full;
    }
  }

  .view {
    @apply h-[1120px] overflow-scroll;
    .image {
      @apply shrink-0 w-20 md:w-[200px] h-20 md:h-[200px];
    }
    .details {
      @apply flex gap-2 relative w-full;
      .like {
        @apply absolute top-0 right-0;
      }
    }
  }

  .grid-view {
    @apply flex flex-wrap justify-center gap-2;

    .box {
      @apply w-60 md:w-[291px] grid gap-2 p-0;

      .image {
        @apply my-5;
      }
    }

    .details {
      @apply p-5 flex-col-reverse border border-gray-200 !important;

      .text-title {
        @apply text-gray-500;
      }
      .description,
      .text-green,
      i,
      .orders {
        @apply hidden !important;
      }

      .like {
        @apply top-5 right-5;
      }
    }
  }

  .list-view {
    @apply grid grid-cols-1 gap-2;

    .box {
      @apply flex gap-5;
    }

    .details {
      @apply flex-col;
    }
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none !important;
}

.quote {
  background-image: url("/assets/quote-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
